.scorecard{
    width:30%;
    height:60%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    border:3px solid purple;
    border-radius:20px;
    box-shadow:100px 0px purple 100px;
    padding:10px;

}
.outer{
    display:flex;
    height:100%;
    align-items:center;
    justify-content:space-around;
}
.score{
    width:40%;
    height:50%;
    background-color:black;
    color:violet;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:4rem;
    border-radius:20px;
    
}

.buttons{
    width:100%;
    display:flex;
    justify-content:space-around;
}
.button{
    padding:1rem;
    border-radius:50%;
    border:1px solid purple;;
    color:purple;
    background-color:black;
    

}
.button:hover{
    padding:1rem;
    cursor:pointer;
    background-color:purple;
    color:white;

}
.button:active{
    padding:1rem;
    cursor:pointer;
    background-color:black;

}
body{
    background-color:black;
}


.heading{
    color:white;
    font-size:2rem;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    color:blueviolet;
}

.reset-container{
    color:purple;
    display:flex;
    justify-content:center;

}
.reset{
    padding:1rem;
    border-radius:20px;
    color:purple;
    font-size:20px;
    font-family:Arial, Helvetica, sans-serif;
    background-color:black;
    border:1px solid purple;
    font-weight:bold;
}
.reset:hover{
   background-color:purple;
   color:white;
   font-weight:bold;
}
.reset:active{
    color:purple;
    background-color:black;
}